h1 {
  font-family: fantasy;
  font-size: 40px;
  color: white;
}
li {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 50px;
}

a {
  color: white;
  cursor: grab;
  text-decoration: none;


}
a:hover {
  color: yellow;
  background-color: black;
  border: 2px solid white;
  padding: 5px;
}

body {
  /*background-color: orange;*/
  background-image: url(http://designwoop.com/images/posts/links-1/noupe-bg.jpg);
  text-align: center;
  list-style: none;
}

p {
  color: white;
}

/** {
  border: 2px solid white;
}*/
