h1 {
  font-family: fantasy;
  font-size: 40px;
  color: white;
}
li {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;

}

a {
  color: white;
  cursor: crosshair;
}

body {
  /*background-color: orange;*/
  background-image: url(http://designwoop.com/images/posts/links-1/noupe-bg.jpg);
}

p {
  color: white;
}
